<!DOCTYPE html>
<html>
<head>
  <title>Metube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
console.log(SC);

  SC.initialize({
  client_id: 'YOUR_CLIENT_ID',
  redirect_uri: 'REDIRECT_URL'
});
</script>

<%= yield %>

</body>
</html>
